@charset "utf-8";

body{
    background-image: url(../img/back-tv.jpg);
   }
img#phone{display: none;}
img#table{display:none;}
img#print{display: none;}
img#desk{display: none;}
img#tela{display:block;}