@charset "utf-8";
/*todas de mais medias*/
/* tipical braking point
pequenas tela: 600px
celular :600px a 768px
tablet:768 a 992px
desktop: 992 a 1200px
grandes: acima 1200px*/


   body{
    background-image: url(../img/back-tablet.jpg);
   }
#phone{display: none;}
#table{display:block;}
#print{display: none;}
#desk{display: none;}
#tela{display: none;}







